<%- include('../includes/head.ejs') -%>

<div class="col-xs-12 col-sm-8 col-lg-9 col-xl-10">
  <form action="/auth/login" method="POST">
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login" />
    
  </form>
</div>

<%- include('../includes/footer.ejs') -%>
