<% include('../includes/head.js') %>

<div class="col-md-12">
  <form action="/login" method="POST">
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="password" name="confirmPassword" />
    <input type="submit" value="Sign up" />
    
  </form>
</div>

<% include('../includes/footer.js') %>
