<% include('../includes/head') %>

<% if(error){ %>
<div class ="alert alert-error"><%= error%> </div>
<% } %>
<div class="col-md-12">
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">
    <%# <input type="hidden" name="_csrf" value="" /> %>
    <input type="text" name="email" />
    <input type="password" name="password" />
    <label> Profile Pic </label>
    <input type="file" name="profilePic" />
    <input type="submit" value="Sign up" />
    
  </form>
</div>

<% include('../includes/footer') %>
